/* top bar  */
.top-bar {
    border-bottom: 2px solid black;
    width: 100%;
    height: 65px;
    position: relative;
}

h1 {
    display: inline-block;
    margin-left: 1%;
    margin-top: 10px;
    text-decoration: underline;
}

/* search bar */
.searchBar {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 33%;
}

#searchInput {
    display: inline-block;
    height: 33px;
    width: 400px;
    margin: 0;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid black;
    background-color: #efefef;
    color: black;
}

#searchInput:hover {
    display: inline-block;
    height: 33px;
    width: 400px;
    margin: 0;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
}

#searchButton {
    display: inline-block;
    height: 37px;
    width: 60px;
    margin: 0;
    border-radius: 0px 7px 7px 0px;
    border: 1px solid black;
}

#searchButton:hover {
    display: inline-block;
    height: 37px;
    width: 60px;
    margin: 0;
    border-radius: 0px 7px 7px 0px;
    border: 1px solid black;
    background-color: whitesmoke;
}

/* category bar */

.categoryBar {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

a {
    color: black;
}

/* mobile adaptation to screens equal or less than 715px wide*/

@media (max-width: 715px){
    body {
        scale: 1.05;
    }
    h1 {
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    .top-bar {
        border-bottom: none;
    }
    .searchBar {
        border: 1px solid red;
        position: static;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    #searchInput {
        width: 270px;
    }
    #searchInput:hover {
        display: inline-block;
        height: 33px;
        width: 300px;
        margin: 0;
        border-radius: 7px 0px 0px 7px;
        border: 1px solid black;
        background-color: whitesmoke;
        color: black;
    }
    .categoryBar {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
    }
    a {
        padding: 10px;
    }
}